* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 76, 100);
}

.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}

.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
    
}

#red {
    
    background-color: red;
    position: relative;
    animation: punane;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
   
}

@keyframes punane {
    0% {top:-200px}
    100% {top:0px}
    
}

#yellow {
    background-color: yellow;
    animation: kollane;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;   

}

@keyframes kollane {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}


#green {
    background-color: green;
    animation: roheline;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;


}


@keyframes roheline {
   
    100%{transform: rotateY(360deg);}
    
}

/*HINT -   transform: rotateY(0deg);*/